<!-- Navigation -->
<div class="custom-nav">
	<div class="menu-icon">
		<button>
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>			
		</button>
	</div>
	<a class="logo" href="<%- config.root %>"><%- theme.menu_title || config.title || "" %></a>

</div>	

<div class="left-side" id="bs-example-navbar-collapse-1">
	<button class="close">
		<span class="bar"></span>
		<span class="bar"></span>
	</button>
	<div class="intro">
		<img src="/img/profile.jpg" alt="내사진">
		<p><a href="mailto:bomee88@naver.com"><strong>@봉치</strong></a>Front-end개발, 웹기획, 웹디자인까지 호기심많은 UI개발자입니다.</p>
	</div>
	<ul>
		<% for (var i in theme.menu){ %>
			<li>
				<a href="<%- theme.menu[i].url ? url_for(theme.menu[i].url) : url_for(theme.menu[i]) %>">
					<% if (theme.menu[i].icon) { %>
						<i class="fa fa-<%= theme.menu[i].icon %> fa-stack-2x"></i>
					<% } else { %>
						<%= i %>
					<% } %>
				</a>
			</li>
		<% } %>
	</ul>
</div>

