<!-- Navigation -->
<div class="custom-nav">
	<div class="menu-icon">
		<button>
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>			
		</button>
	</div>
	<a class="logo" href="<%- config.root %>"><%- theme.menu_title || config.title || "" %></a>

</div>	

<div class="left-side" id="bs-example-navbar-collapse-1">
	<button class="close">
		<span class="bar"></span>
		<span class="bar"></span>
	</button>
	<div class="intro">
		<img src="/img/profile.jpg" alt="내사진">
		<p><a href="https://www.facebook.com/groups/ReinforcementLearningKR/"><strong><i class="fa fa-facebook"></i>  <%= config.title %></strong></a><%= config.description %></p>
	</div>
	<ul>
		<li><a href="#">RLKorea소개</a></li>
		<li class="more_btn"">프로젝트
			<ul>
				<li><a href="">프로젝트1</a></li>
				<li><a href="">프로젝트2</a></li>
				<li><a href="">프로젝트3</a></li>
			</ul>
		</li>
		<li class="more_btn"><a href="#">논문리뷰</a></li>
		<li class="more_btn"><a href="#">강화학습 관련 컨텐츠</a></li>
		<li></li>
		<!-- <% for (var i in theme.menu){ %>
			<li>
				<a href="<%- theme.menu[i].url ? url_for(theme.menu[i].url) : url_for(theme.menu[i]) %>">
					<% if (theme.menu[i].icon) { %>
						<i class="fa fa-<%= theme.menu[i].icon %> fa-stack-2x"></i>
					<% } else { %>
						<%= i %>
					<% } %>
				</a>
			</li>
		<% } %> -->
	</ul>
</div>

